/*----------------------Zählt für alles------------*/
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 10px;
    background: #f1f1f1;
}


/*-------------------------Überschrift------------*/
.header {
    background-color: #e3e2e2;
    padding: 30px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
    text-decoration: underline;
}



/*-------------------------Menüleiste------------*/
.topnav {
    overflow: hidden;
    background-color: #333;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}


/* -------------------------Menüleiste Links----------*/
.topnav ul {
    list-style: none;
    display: flex;
}

.topnav ul li {
    padding: 10px 30px;
}

.topnav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.topnav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e3e2e2;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.topnav ul li:hover::after {
    width: 100%;
}


/*-------------------------Menüleiste Farbveränderung----------*/
.active,
.topnav ul li:hover {
    background-color: #939393;
    color: black;
    border-radius: 3px;
}



/*-----------------------Dropdown Menü----------------------------*/
.dropdown_menu {
    display: none;
}

.topnav ul li:hover .dropdown_menu {
    display: block;
    border: 1px solid black;
    position: absolute;
    background-color: #939393;
    margin-top: 15px;
    margin-left: -10px;
    padding-right: 50px;
    transition: 1s;
}

.topnav ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.topnav ul li:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    border-radius: 0;
    text-align: left;
}


.drop-menu2 {
    display: none;
    transition-delay: 2s;
}

.drop-menu:hover .drop-menu2 {
    display: block;
    border: 1px solid black;
    position: absolute;
    background-color: #939393;
    margin-top: -70px;
    margin-left: 210px;
    padding-right: 120px;
    transition: 5s;
}


.topnav ul li:hover .dropdown_menu ul li:last-child {
    border-bottom: none;
}

.topnav ul li:hover .dropdown_menu ul li a:hover {
    color: #999999;
}




/*----------------------------linke Seite Haupttext--------------*/
.leftcolumn {
    float: left;
    width: 75%;
}


/*-------------------------------rechte Seite Nebentext-----------------*/
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/*--------------------------------------Karteneffekt----------------------*/
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
}

.card2 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
}


.Karte {
    float: right;
    text-decoration: underline;
    width: 50%;
    margin-top: -190px;
}

.Karte2 {
    float: right;
    text-decoration: underline;
    width: 50%;
    margin-top: -150px;
}


/*----------------------------------Fußzeile--------------------*/
.footer {
    bottom: 10px;
    background-color: #a3a2a2;
    padding: 20px;
    text-align: center;
    margin-top: 850px;
}










/*Für Handys*/
@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%
    }
}