node_modules
dist
dist-ssr
.env
.env*.local
.vercel
*.log
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
android/app/build
android/app/src/main/assets/public
node_modules
