# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# expo
/.expo/
/dist/
web-build/

# native
/ios
/android

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
